@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: inherit;
	font-family: 'Noto Sans', sans-serif;
}

body{
	background: #e5fbf7;
}
::selection {
  color: #fff;
  background-color:#28dd9d ;
}

 
.start_btn,
.quiz_container,
.result_container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.fa-check{
	color: #169C6E;
}
.fa-times{
	color: #ff5454;
}
.fa-flag-checkered{
	color: #169C6E;
}
.start_btn button{
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 24px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;   
	 
	height: 50px;
	width: 200px;
	line-height: 37px;
	font-size: 25px; 
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #0c5d41;
	background-color: #e5fbf7;
	border-bottom: 7px solid #0c5d41;
	cursor: pointer;
	transition: all 0.3s ease;
  
}

.start_btn button:hover{
	background: #0c5d41;
	color: #fff;
}

.quiz_container{
	width: 700px;
	background: #fff;
  /* opacity: 0;
	pointer-events: none;
	transform: translate(-50%,-50%) scale(0.9);   */
}
.quiz_container header{
 
	height: 200px;
	padding: 0 30px;
	background: #e5fbf7;
	border-bottom: 5px solid #169C6E;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quiz_container header .title{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #0c5d41;
	text-transform: uppercase;
}

.quiz_container header .total_questions span{
display: flex;
align-items: center;
user-select: none;

}

.total_questions span p{
font-weight: 700;
padding: 0 5px;
}

.quiz_container section{
	padding: 30px 50px 25px 50px;
	background: #fff;
  z-index: 1; 
}

.quiz_container section .question_text{
	font-size: 25px;
	font-weight: 600;
}

.quiz_container section .option_list{
	 padding: 20px 0;
	 display: block;
}

.quiz_container section .option{
	background: aliceblue;
	border: 1px solid #cdfff1;
	padding: 8px 15px;
  margin-bottom: 15px ;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition:  all 0.3s ease;
}
 
section .option_list .option:hover{
	color: #169C6E;
	background: #dcfff5;
	border-color: #28dd9d;
}

.option_list .option:last-child{
margin-bottom: 0px;
}

.quiz_container footer{
	height: 130px;
	width: 100%;
	background: #e5fbf7;
	padding: 0 30px;
	margin-top: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

footer .next_btn{
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;    
	height: 45px;
	width: 180px;
	line-height: 37px;
	font-size: 20px; 
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #169C6E;
	border-bottom: 7px solid #0c5d41;
	cursor: pointer;
	transition: all 0.3s ease;
}

footer .next_btn:hover{
	background: #0c5d41;
}

.result_container{
	background: #fff ;
	width: 700px;
	padding: 25px 30px;
	border-radius: 5px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%,-50%) scale(0.9);    
}

.result_container .icon{
	font-size: 100px;
	margin-bottom: 10px;
}

.result_container .complete_text{
	font-size: 25px;
	font-weight: 600;
}

.result_container .score_text span{
	display: flex;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 30px;
}

.score_text span p{
	font-weight: 700;
	padding: 0 5px;
}

.result_container .buttons{
	display: flex;
	margin: 20px 0;
}

.result_container .buttons button{
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;    
 
	height: 45px;
	width: 180px;
	line-height: 37px;
	font-size: 20px; 
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #169C6E;
	border-bottom: 7px solid #0c5d41;
	cursor: pointer;
	transition: all 0.3s ease;
}

.result_container .buttons button:hover{
	background: #0c5d41;
}
